.btn,
#offer {
	color: white;
	background-color: rgb(39, 99, 146);
}




.gicLogo img {
	margin: 0 auto;
	align-items: center;
}




.card-title {
	color: rgb(39, 99, 146);
}

#offer {
	padding: 50px;
}

#offer p {
	margin-top: 40px;
}

/* .life_insurance{
    display: inline-block;
} */

.medicare_insurance,
.life_insurance {
	width: 50%;
	margin: 20px;
}

.insurance {
	display: flex;
	justify-content: space-between;
}

.insurance img {
	width: 90%;
}

.thirdSection,
.impartial {
	background-color: rgb(51, 51, 51);
	margin: 0;
}

.thirdSection .card {
	margin: 0 auto;
}

.impartial {
	padding: 100px 0;
}

.basics iframe,
h2 {
	text-align: center;
	width: 100%;
	margin-top: 40px;
	color: rgb(39, 99, 146);
}

.basics {
	padding-top: 100px;
	background-color: rgb(51, 51, 51);
}
