html {
    width: fit-content;
}
body
{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgb(195, 195, 217)
}

/* html, body {
    height: 100%;
} */

/* html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
} */
/* html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    background-color:#DDD;
} */

.title h4 a{
    color: red;
    text-decoration: none;
    /* text-align: center; */
}

.title h4{
    color: red;
    /* text-decoration: none;
    text-align: center; */
}

.title img {
    height: 250px;
    width: 350px;
}

.nav {
    background-color: rgb(39, 99, 146);
}

.nav a {
    text-decoration: none;
    color: white;
}

.know {
    background-color:  rgb(39, 99, 146);
    color: white;
}

.cost {
    text-align: center;
}

.cost span {
    color: red;
    text-decoration: underline;
}

.presentation h4 {
    color: rgb(39, 99, 146);
    text-align: center;
}

.contactUs {
    text-align: center;
    color: white;
    background-color: red;
}

.contactUs a {
    text-decoration: none;
    color: white;
}

.basics h1 {
    color: rgb(34, 83, 143);
}

.parts h1 {
    color: rgb(34, 83, 143);
}

.parts img {
    height: auto;
}

.presentation iframe
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.prescription h1 {
    text-align: center;
    color: rgb(39, 99, 146);
}

.prescription img {
    height: auto;
}

.costs h1 {
    color: rgb(34, 83, 143);
    background-color: white;
}

.costs {
    width: 75%;
    margin: auto;
}

.advantage h1 {
    color: rgb(34, 83, 143);
    background-color: white;
}

.advantage {
    width: 75%;
    margin: auto;
}

.help h1 {
    color: rgb(34, 83, 143);
}

.help h4 a{
    color: red;
    text-decoration: none;
}

.are h1 {
    color: rgb(34, 83, 143);
}

.are li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
}

.are li:before {
    content: "\25BA \0020";
    font-size: 6px;
    position: absolute;
    top: 5px;
    left: -10px;
}

.contact {
    margin: auto;
}

.btn {
    margin-bottom: 20px;
}

.whoIs h1 {
    color: rgb(34, 83, 143);
}

.meetOurTeam h1 {
    color: rgb(34, 83, 143);
}

.testimonials h1 {
    color: rgb(34, 83, 143);
}

.bottom h5 {
    text-align: center;
}

.community h1 {
    color: rgb(34, 83, 143);
    text-align: center;
}

.community2 img {
    max-width: 100%;
    height: auto;
  
}

.community1 img {
    max-width: 100%;
    height: auto;
  
}

.community3 img {
    max-width: 100%;
    height: auto;
  
}

.community4 img {
    max-width: 100%;
    height: auto;
  
}

.community5 img {
    max-width: 100%;
    height: auto;
  
}

.join h1 {
    color: rgb(34, 83, 143);
}

.mission h1 {
    color: rgb(34, 83, 143);
}

.fb h1 {
    color: rgb(34, 83, 143);
}

li  {
    font-size: x-large;
}

p   {
    font-size: x-large;
}

label   {
    font-size: x-large;
}

/* .contactBottom p {
    font-size: xx-large;
} */

hr  {
    color: rgb(34, 83, 143);  
}