.btn, #offer {
    color: white;
    background-color: rgb(39, 99, 146);
}

.card-title {
    color: rgb(39, 99, 146);
}

#offer  {
    padding: 50px;
}

#offer p{
    margin-top: 40px;
}

.life_insurance{
    display: inline-block;
}

.medicare_insurance, .life_insurance    {
    width: 40%;
    margin: 0;
}